extends layout

block content
  .messageBoard 
  if user
    .messageWindow
      form(action='/newMessage' method='POST')
        input(name='message' placeholde='enter your message' type='text')
        button.messageButton Send Message
