extends layout

block content

  h1 Log in
  form(action="" method="POST")
    label(for="email") Email
    input(name="email" placeholder="email" type="text")
    label(for="password") Password
    input(name="password" type="Password")
    button Log in