extends layout

block content

  h1 Sign Up
  form(action="" method="POST")
    label(for="firstname") First name
    input(name="firstname" placeholder="first name" type="text")
    label(for="lastname") Last name
    input(name="lastname" placeholder="last name" type="text")
    label(for="email") Email
    input(name="email" placeholder="email" type="text")
    label(for="password") Password
    input(name="password" placeholder="password" type="Password")
    label(for="passwordconfim") Password confirmation
    input(name="passwordconfim" placeholder="password confirmation" type="Password")
    if errors 
      each error in errors
        p.errorMsg #{error.param}: #{error.msg}
    button Sign Up