body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ebe7e6;
  color: #151515;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}



form {
  display: grid;
  grid-template-columns: 100px 250px;
  grid-auto-rows: 40px;
  column-gap: 5px;
  row-gap: 15px;
  align-items: center;
}

form input {
  height: 40px;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
  font-size: 1.2em;
}

form input:focus {
  border: none;
}

form button {
  grid-column-start: 2;
  width: 100px;
  height: 40px;
  border-radius: 15px;
  background-color: rgb(94, 56, 129);
  color: white;
  border: none;
  place-self: end;
}

form button:hover {
  background-color: #370e42;
  cursor: pointer;
}

form .errorMsg {
  grid-column: 1/3;
  background-color: rgb(221, 165, 165);
  padding: 10px 10px;
  border-radius: 15px;
}

.header {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(94, 56, 129);
  color: white;
}

.header h1 {
  font-size: 4em;
  padding: 0;
  margin: 0;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

ul.listMenu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding: 0;
  margin: 0;
}

li.listButton a {
  background-color: rgb(94, 56, 129);
  color: white;
  padding: 7px 15px;
  border-radius: 15px;
  text-align: center;
}

li.listButton a:hover {
  background-color: #370e42;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.messageBoard {
  flex-grow: 1;
}

.messageWindow {
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: rgb(94, 56, 129);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.messageWindow form {
  padding: 0 5px;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.messageWindow input {
  max-width: 1000px;
  flex-grow: 1;
}

.messageButton {
  font-size: 1.2em;
  width: 150px;
  color: rgb(94, 56, 129);
  background-color: white;
}

.messageButton:hover {
  border: 1px solid white;
  color: white;
  cursor: pointer;
}


p.infoText {
  max-width: 500px;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 50px;
}

h3.infoText {
  font-size: 2em;
  margin-bottom: 0;
  margin-top: 40%;
}